@import "tailwindcss";
@import "tw-animate-css";

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Animations */
.typing-animate {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(50, end), blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.anim-from-left {
  animation: 0.5s slideinfromleft;
}
@keyframes slideinfromleft {
  from {
    transform: translateX(-50%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.anim-from-right {
  animation: 0.5s slideinfromright;
}
@keyframes slideinfromright {
  from {
    transform: translateX(50%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.anim-from-top {
  animation: 0.5s slideinfromtop;
}
@keyframes slideinfromtop {
  from {
    transform: translateY(-100%);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}
