/* Dark Theme Colors */
$black-1: #fafaf9;
$black-2: #a6a09b;
$black-3: #292524;
$black-4: #0c0a09;

/* Theme red */
$red-1: #fef2f2;
$red-2: #ff6467;
$red-3: #c10007;
$red-4: #a81517;

/* Theme cool and collected */
$cool-1: #003135;
$cool-2: #024950;
$cool-3: #964734;
$cool-4: #0fa4af;
$cool-5: #afdde5;
$cool-6: #ffffff;

/* Theme red and lively */
$redandlively-1: #5d001e;
$redandlively-2: #e3e2df;
$redandlively-3: #e3afbc;
$redandlively-4: #9a1750;
$redandlively-5: #ee4c7c;
$redandlively-6: #ffffff;
$redandlively-7: #000000;
