/* Dark Theme Colors */
$black-1: #fafaf9;
$black-2: #a6a09b;
$black-3: #292524;
$black-4: #0c0a09;

/* Theme red */
$red-1: #fef2f2;
$red-2: #ff6467;
$red-3: #c10007;
$red-4: #a81517;

/* Theme blue */
$blue-1: #eff6ff;
$blue-2: #51a2ff;
$blue-3: #193cb8;
$blue-4: #162556;
