@use "colors" as *;

html[data-theme="dark"] {
  --bg-color: #{$black-3};
  --color: #{$black-1};
  --border: #{$black-2};

  --page-bg: #{$black-4};
  --page-title: #{$black-1};

  --homepage-title: #{$black-1};

  --company-name: #{$black-3};
  --navbar-bg: #{$black-4};
  --navbar-titles: #{$black-1};
  --navbar-text: #{$black-1};
  --navbar-menu: #{$black-3};
  --navbar-menu-active: #{$black-3};

  --footer-text: #{$black-3};
}

html[data-theme="cool"] {
  --bg-color: #{$cool-4};
  --color: #{$cool-6};
  --border: #{$cool-5};

  --page-bg: #{$cool-2};
  --page-title: #{$cool-6};

  --homepage-title: #{$cool-1};

  --company-name: #{$cool-2};
  --navbar-bg: #{$cool-1};
  --navbar-titles: #{$cool-5};
  --navbar-text: #{$cool-6};
  --navbar-menu: #{$cool-2};
  --navbar-menu-active: #{$cool-2};

  --footer-text: #{$cool-2};
}

html[data-theme="redandlively"] {
  --bg-color: #{$redandlively-2};
  --color: #{$redandlively-6};
  --border: #{$redandlively-5};

  --page-bg: #{$redandlively-4};
  --page-title: #{$redandlively-6};

  --homepage-title: #{$redandlively-1};

  --company-name: #{$redandlively-4};
  --navbar-bg: #{$redandlively-1};
  --navbar-titles: #{$redandlively-2};
  --navbar-text: #{$redandlively-6};
  --navbar-menu: #{$redandlively-4};
  --navbar-menu-active: #{$redandlively-4};

  --footer-text: #{$redandlively-4};
}
